<% layout('layouts/boilerplate')%>
<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>

<body>
  <table style="width: 100%">
    <tr>
      <th>Title</th>
      <th>Location</th>
    </tr>
    <% reformattedFeed.forEach(item=> { %>
    <tr>
      <td><%=item.title%></td>
      <td><%=item.location%></td>
    </tr>
    <%}) %>
  </table>
</body>
